#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: "osculum_mortis",
    cache_dir: None,
    lyrics_dir: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 5,
    wrap_navigation: true,
    enable_mouse: true,
    enable_config_hot_reload: true,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: false,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    center_current_song_on_change: false,
    ignore_leading_the: true,
    browser_song_sort: [File],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    album_art: (
        method: Kitty,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            ":":         CommandMode,
            ",":         VolumeDown,
            ".":         VolumeUp,
            "<C-Space>": Stop,
            "<A-w>":     Stop,
            "<Tab>":     NextTab,
            "<S-Tab>":   PreviousTab,
            "1":         SwitchToTab("vita"),
            "2":         SwitchToTab("incerta"),
            "3":         SwitchToTab("mors"),
            "4":         SwitchToTab("certissima"),
            "q":         Quit,
            "<Space>":   TogglePause,
            "p":         TogglePause,
            "<C-Right>": NextTrack,
            "<C-Left>":  PreviousTrack,
            "<A-Right>": NextTrack,
            "<A-Left>":  PreviousTrack,
            "<S-Right>": SeekForward,
            "<S-Left>":  SeekBack,
            "<S-Home>":  SeekToStart,
            "z":         ToggleSingleOnOff,
            "x":         ToggleRandom,
            "c":         ToggleConsumeOnOff,
            "v":         ToggleRepeat,
            "Z":         ToggleSingle,
            "C":         ToggleConsume,
            "`":         ShowHelp,
            "u":         Update,
            "<C-u>":     Rescan,
            "<A-Enter>": ShowCurrentSongInfo,
            "<C-o>":     ShowOutputs,
            "<C-p>":     ShowDecoders,

            "Ж":         CommandMode,
            "б":         VolumeDown,
            "ю":         VolumeUp,
            "<A-ц>":     Stop,
            "й":         Quit,
            "з":         TogglePause,
            "я":         ToggleSingleOnOff,
            "ч":         ToggleRandom,
            "с":         ToggleConsumeOnOff,
            "м":         ToggleRepeat,
            "Я":         ToggleSingle,
            "С":         ToggleConsume,
            "ё":         ShowHelp,
            "г":         Update,
            "<C-г>":     Rescan,
            "<C-щ>":     ShowOutputs,
            "<C-з>":     ShowDecoders,
        },
        navigation: {
            "<Up>":        Up,
            "<Down>":      Down,
            "<Left>":      Left,
            "<Right>":     Right,
            "k":           Up,
            "j":           Down,
            "h":           Left,
            "l":           Right,
            "<C-k>":       PaneUp,
            "<C-j>":       PaneDown,
            "<C-h>":       PaneLeft,
            "<C-l>":       PaneRight,
            "<PageUp>":    PageUp,
            "<PageDown>":  PageDown,
            "<Home>":      Top,
            "<End>":       Bottom,
            "g":           Top,
            "G":           Bottom,
            "K":           MoveUp,
            "J":           MoveDown,
            "n":           NextResult,
            "N":           PreviousResult,
            "a":           Add,
            "C-a":         AddAll,
            "C-r":         Rename,
            "s":           Select,
            "<A-s>":       InvertSelection,
            "<CR>":        Confirm,
            "i":           FocusInput,
            "/":           EnterSearch,
            "<C-c>":       Close,
            "<Esc>":       Close,
            "<Del>":       Delete,
            "<C-Enter>":   ShowInfo,
            "<\\>":        ContextMenu(),
            "<C-s>":       Save(kind: Modal(all: true, duplicates_strategy: NonDuplicate)),

            "л":           Up,
            "о":           Down,
            "р":           Left,
            "д":           Right,
            "<C-л>":       PaneUp,
            "<C-о>":       PaneDown,
            "<C-р>":       PaneLeft,
            "<C-д>":       PaneRight,
            "п":           Top,
            "П":           Bottom,
            "Л":           MoveUp,
            "О":           MoveDown,
            "т":           NextResult,
            "Т":           PreviousResult,
            "ф":           Add,
            "C-ф":         AddAll,
            "C-к":         Rename,
            "ы":           Select,
            "<A-ы>":       InvertSelection,
            "ш":           FocusInput,
            "<C-с>":       Close,
            "<C-ы>":       Save(kind: Modal(all: true, duplicates_strategy: NonDuplicate)),
        },
        queue: {
            "<CR>":    Play,
            "a":       AddToPlaylist,
            "<Del>":   Delete,
            "C-w":     DeleteAll,
            "e":       JumpToCurrent,
            "S":       Shuffle,

            "ф":       AddToPlaylist,
            "C-ц":     DeleteAll,
            "у":       JumpToCurrent,
            "Ы":       Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
        ],
    ),
    artists: (
        album_display_mode: NameOnly,
        album_sort_by: Name,
        album_date_tags: [Date],
    ),
    tabs: [
        (
            name: "vita",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "40%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "100%",
                                    pane: Pane(AlbumArt)
                                ),
                                (
                                    size: "3",
                                    pane: Pane(Lyrics)
                                ),
                            ],
                        ),
                    ), 
                    (
                        size: "60%",
                        pane: Pane(Queue)
                    ),
                ],
            ),
        ),
        (
            name: "incerta",
            pane: Pane(Directories),
        ),
        (
            name: "mors",
            pane: Pane(Playlists),
        ),
        (
            name: "certissima",
            pane: Pane(Search),
        ),
    ],
)

